# sample contents on jupyter notebook

In [30]:
#import data from csv

import pandas as pd
import numpy as np

stud_data = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'
df = pd.read_csv(stud_data)

df.head(10)
df.tail(3)

df[['sex','age']]
df['age']= df['age']+1
df.head()

df[df['age']>20]

#sort data by age column
df.sort_values(['age'])

#first row
df.iloc[0,:]

#first element of first row
df.iloc[0,0]

#drop all rows with null values 
df.dropna()

#drop all columns with null values 
df.dropna(axis=1)

#highest age in record
df['age'].max()

#total number of records
df['age'].count()

#show ages equal to 21
df[df['age'] == 21]

#female and from 19 and above 
df[(df['sex'] == 'F') & (df['age'] >= 19)] 

#mean of each column cell
df['age'].apply(np.mean)

#mean age for each sex (Male, female)
df.groupby('sex')['age'].mean()

sex
F    17.730769
M    17.657754
Name: age, dtype: float64

In [27]:
rows, columns = df.shape
rows, columns

(395, 33)

In [37]:
df.age > 15

0       True
1       True
2      False
3      False
4       True
       ...
390     True
391     True
392     True
393     True
394     True
Name: age, Length: 395, dtype: bool

In [15]:
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [9]:
x = 5*16
x

80

In [2]:
# array 1

a = [[1,2,3],
     [4,5,6],
     [7,8,9]
    ]
print([a[i][i] for i in range(len(a))])

[1, 5, 9]

In [ ]:
[index.lower() for index in "Hello"]

['h', 'e', 'l', 'l', 'o']

In [ ]:
print(~101)

-102

In [ ]:
list1 = [1,3,5]
print(list1[-1])

5

In [ ]:
a = list('HELLO')
print('first={0[0]}, third={0[2]}'.format(a))

first=H, third=L

In [ ]:
print("Hello".replace("l","e"))

Heeeo

In [ ]:
s={4>3, 0, 3-3}
print(all(s))
print(any(s))

False
True

In [ ]:
print("Hello World!")

Hello World!

In [49]:
a = ['x', 'y', 'z']
if 'z' in a:
    print(1)
    
else:
    print(2)

1

In [50]:
print(2+4.00, 2**4.0)

6.0 16.0

In [51]:
a = [1,2,3]
a.append([5])
a.extend([6,7])
print(a)

[1, 2, 3, [5], 6, 7]